<div class="container">
  {{#if message}}
  <div class="card">
    <div class="card-header">
      Response
    </div>
    <div class="card-body">
      <h5 class="card-title">{{message}}</h5>
    </div>
  </div>
  {{/if}}
  {{#if characters}}
  <ul class="list-group">
    {{#each characters}}
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          <h2>Light level {{this.light}}</p>
        </h5>
        <h6 class="card-subtitle mb-2 text-muted">{{this.race}}</h6>
        <h6 class="card-subtitle mb-2 text-muted">{{this.gender}}</h6>
        <h6 class="card-subtitle mb-2 text-muted">{{this.class}}</h6>
        <form action="characters/{{this.characterId}}/{{this.classType}}/randomize" method="post">
          <input class="btn btn-primary" type="submit" name="submit" value="Randomize" />
        </form>
      </div>
    </div>
    {{/each}}
  </ul>
  {{else}}
  <div class="container">
    <h1>No characters</h1>
  </div>
  {{/if}}
</div>