<div class="container">
  {{#if message}}
  <div class="card">
    <div class="card-header">
      Response
    </div>
    <div class="card-body">
      <h5 class="card-title">{{message}}</h5>
    </div>
  </div>
  {{/if}}
  {{#if characters}}
  <ul class="list-group">
    {{#each characters}}
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          <h2>Light level {{this.light}}</p>
        </h5>
        <h6 class="card-subtitle mb-2 text-muted">{{this.race}}</h6>
        <h6 class="card-subtitle mb-2 text-muted">{{this.gender}}</h6>
        <h6 class="card-subtitle mb-2 text-muted">{{this.class}}</h6>
        
        <form action="characters/{{this.characterId}}/{{this.classType}}/randomize" method="post" enctype='application/json'>
          <div class="form-check">
            <input class="form-check-input" name="weaponCheck" type="checkbox" checked="checked" id="weaponCheck">
            <label class="form-check-label" for="weaponCheck">Weapons</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" name="armorCheck" type="checkbox" checked="checked" id="armorCheck">
            <label class="form-check-label" for="armorCheck">Armor</label>
          </div>
          <input class="btn btn-primary" type="submit" name="submit"/>
        </form>
      </div>
    </div>
    {{/each}}
  </ul>
  {{else}}
  <div class="container">
    <h1>No characters</h1>
  </div>
  {{/if}}
</div>